{% extends 'base.html.twig' %}

{% block title %}Modification du profil utilisateur{% endblock %}

{% block body %}
<div class="container">
    {% if userConnected %}
        <h1>Modification du profil</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Enregister les modifications</button>
        {{ form_end(form) }}
    {% else %}
        <div class="alert alert-warning">Une erreur est survenue, pas d'utilisateur connecter !</div>
    {% endif %}
</div>
{% endblock %}
