{% extends 'base.html.twig' %}

{% block title %}Binevenue sur la meilleur platform{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-3">Binevenue sur S C L</h1>
            <p class="lead">Rem diceret quid non quae mihi potest diceret quae inquam inquam quae concertationesque contentiones non dissentientium non se potest ille, admiratus sum et moleste tuli potissimum esse Atratino datam.</p>
            <hr class="my-4">
            <p>Quam quidem partem accusationis admiratus sum et moleste tuli potissimum esse Atratino datam. Neque enim decebat neque aetas illa postulabat neque, id quod animadvertere poteratis, pudor patiebatur optimi adulescentis in tali illum oratione versari. Vellem aliquis ex vobis robustioribus hunc male dicendi locum suscepisset; aliquanto liberius et fortius et magis more nostro refutaremus istam male dicendi licentiam. Tecum, Atratine, agam lenius, quod et pudor tuus moderatur orationi meae et meum erga te parentemque tuum beneficium tueri debeo.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir les produits</a>
            </p>
        </div>

        <h2 class="h1 mt-3 mb-4">Les meilleurs fournisseurs !</h2>

        <div class="row">
            <div class="col-md">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Yahya SAMADI</h4>
                        <hr>
                        <div class="card-text">
                            <img class="float-left mr-3" src="https://picsum.photos/id/1005/100/100" alt="Avatar de Yahya SAMADI"><br>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, voluptate ut? Eius ducimus ipsa, adipisci dicta modi repellat quia minus voluptates.</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Test NOM</h4>
                        <hr>
                        <div class="card-text">
                            <img class="float-left mr-3" src=" https://picsum.photos/id/1027/100/100" alt="Avatar de Yahya SAMADI">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, voluptate ut? Eius ducimus ipsa, adipisci dicta modi repellat quia minus voluptates.</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

{% endblock %}